# Management files
logs/
pgdata*/
repro_v1_backup/
*.sif
*.tar.gz
*.zip
*.pdf

# Author artifacts (inside repro subfolder)
repro/DATA/
repro/.venv/
repro/.ipynb_checkpoints/
repro/executed_*.ipynb
repro/*.png
repro/table_*.tex
repro/setup_complete.lock
repro/*.gpkg
repro/*.tif*
repro/graz_3
repro/linz
repro/salzburg
repro/*.ttf

# IDE junk
.DS_Store
.vscode/
.idea/
*.pkl
